
<div id="<%= dom_id ql_tv %>">
      <tr>
        <th scope="row"><%= ql_tv.stt %></th>
        <td><%= ql_tv.maHS %></td>
        <td><%= ql_tv.name %></td>
        <td><%= ql_tv.lop %></td>
        <td>
          <%= ql_tv.maSach %>
        </td>
        <td>
          <%= ql_tv.tenSach %>
        </td>
        <td>
          <%= ql_tv.tenTG %>
        </td>
        <td>
          <%= ql_tv.tuSach %>
        </td>
        <td>
          <%= ql_tv.soBM %>
        </td>
        <td>
          <%= ql_tv.ngayMuon %>
        </td>
        <td>
          <%= ql_tv.ngayTra %>
        </td>
        <td>
          <%= ql_tv.soNgay %>
        </td>
        <td>
          <%= link_to "Xem chi tiết", ql_tv %>
        </td>
      </tr>

<!-- 
  <p>
    <strong>Stt:</strong>
    <%= ql_tv.stt %>
  </p> -->
<!-- 
  <p>
    <strong>Mahs:</strong>
    <%= ql_tv.maHS %>
  </p> -->
<!-- 
  <p>
    <strong>Name:</strong>
    <%= ql_tv.name %>
  </p> -->

  <!-- <p>
    <strong>Lop:</strong>
    <%= ql_tv.lop %>
  </p> -->

  <!-- <p>
    <strong>Masach:</strong>
    <%= ql_tv.maSach %>
  </p>

  <p>
    <strong>Tensach:</strong>
    <%= ql_tv.tenSach %>
  </p>

  <p>
    <strong>Tentg:</strong>
    <%= ql_tv.tenTG %>
  </p>

  <p>
    <strong>Tusach:</strong>
    <%= ql_tv.tuSach %>
  </p>

  <p>
    <strong>Sobm:</strong>
    <%= ql_tv.soBM %>
  </p>

  <p>
    <strong>Ngaymuon:</strong>
    <%= ql_tv.ngayMuon %>
  </p>

  <p>
    <strong>Ngaytra:</strong>
    <%= ql_tv.ngayTra %>
  </p>

  <p>
    <strong>Songay:</strong>
    <%= ql_tv.soNgay %>
  </p> -->

</div>
