<div id="<%= dom_id ql_tv %>">
<tr>
  <td scope="row">
    <%= ql_tv.id %>
  </td>
  <td>
    <%= ql_tv.masv %>
  </td>

  <td>
    <%= ql_tv.name %>
  </td>

  <td>
    <%= ql_tv.stu_class %>
  </td>

  <td>
    <%= ql_tv.addr %>
  </td>

  <td>
    <%= ql_tv.points %>
  </td>

  <td>
    <%= link_to "Xem chi tiết", ql_tv %>
  </td>
</tr>
</div>
