<p style="color: green"><%= notice %></p>

<%= render @ql_tv %>

<div>
  <%= link_to "Edit this ql tv", edit_ql_tv_path(@ql_tv) %> |
  <%= link_to "Back to ql tvs", ql_tvs_path %>

  <%= button_to "Destroy this ql tv", @ql_tv, method: :delete %>
</div>
